.picker{
  font-family: Helvetica, Calibri, sans-serif;
  border-radius: 10px;
  border: 3px solid #000000;
  padding: 0.5em 0;
  background-color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}


.picker .picker-item{
  display: inline;
  padding: 0.5em 1em;
  margin: 0 1px;
}

.picker .picker-item:hover{
  background: linear-gradient(#ffffff, #e1e1e1);
}

.picker .picker-item.selected:hover{
  background: linear-gradient(#5a5a5a, #000000);
}

.picker .picker-item.selected{
  color: #ffffff;
  background-color: #000000;
}

.picker .picker-item:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 0;
}
.picker .picker-item:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 0;
}
