.section{
  height: 50vh;
  width: 25vh;
  margin-top: 25vh;
  display: inline-block;
}
.section svg {
  height: 25vh;
}
.treble{
  height: 25vh;
}
.bass{
  height: 25vh;
}
.red{
  background-color: rgb(255, 0, 0);
}
.blue{
  background-color: #007dff;
}
.green{
  background-color: #24ff00
}
